<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:utext="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Candidate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">

   <!-- <link rel="stylesheet" href="exam_module_css/testPage.css">-->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Lexend+Giga&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  /*  body {
        background: rgb(224, 222, 222);
        font-size: 18px;
    }
    */

    .sidenav {
        height: 100%;
        width: 15%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        color: white;
        overflow-x: hidden;
        padding-top: 40%;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        margin: 1%;
        background: rgb(138, 133, 133);
        display: block;
    }

	/* a:hover {
		 background-color: #696969;
		 display:block;
		 border:0.5px black solid;
     }
     */

    .main {
        margin-left: 15%;
        font-size: 28px;
        width: 85%;
    }
    .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  a{
      color: azure;
      margin-left: 3%;
  }
</style>

<body>
  <!-- <div class="sidenav shadow p-3 mb-5 bg-white rounded">
        <a data-toggle="modal" data-target="#showInfo" style="margin-top:40%;">Info</a>
                <a >Tests</a>
        <div class="dropdown-divider"></div>
        <li class="nav-item dropdown" >
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Profile
             </a>
             <div class="dropdown-menu" style="float:right;" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="#">User Profile</a>
                 <div class="dropdown-divider"></div>
                 <a class="dropdown-item" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
             </div>
         	</li>
        <a style="position: absolute;bottom: 30px;">Made by AKJS</a>
       </div>
--> 
    <div>
        <nav class="navbar toolbar btn-primary">
            <div class="navbar-header">
      			<span class="navbar-brand mb-0 h1" href="#">CDK Test</span>
    		    </div>
            <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="btn btn-info"  th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout <i class="fa fa-sign-out"></i>

            </a>

        </nav>

        <div class="card p-3 shadow" style="margin:5%;font-size:18px;">
        <div class="alert alert-secondary">
           Welcome,  <span th:utext="${user.getUsername()}"></span>
        </div>
        <div style="float:right;">
           <span style="float:right;" class="btn btn-secondary">Total Tests : <span th:text="${tests.size()}"></span></span>
        </div>
          <br/>
			<span class="badge badge-secondary" style="paddind:2%;">Your Tests</span>
            <div class="card p-3 ">
            <table class="table">
            	<tr th:each="test: ${tests}">
    			 	<td th:switch="${test.testType}" >
        				<span class="btn btn-primary" th:case="'F'">Fresher Hiring Test</span>
        				<span  class="btn btn-primary" th:case="'E'">Experienced Hiring Test</span>
    				</td>
    			<!--	<td>
    					<span th:with="days=${T(java.util.concurrent.TimeUnit).DAYS}, millis=${T(java.util.concurrent.TimeUnit).MILLISECONDS}" th:text="${days.convert(test.expiry_date.getTime()-#dates.createNow().getTime(), millis)}"></span>
    					Day (s) Left 
            </td>
            -->
    			 	<td >
	    			 	<form action="#" th:action="@{/startTest}" th:object="${test}" method="post">
	   <input name="testId" type="hidden" th:attr="value = ${test.tokenId}">
	
	 						<td th:switch="${test.status}">
	 							<span th:case="'P'"><input type="submit" class="btn btn-success" value="Start Now">
								</span>
	 							<span th:case="'T'"><input type="submit" class="btn btn-secondary" value="Already Test Taken" disabled>
								</span>
							</td>
	    			 	</form>
                    </td>
                    <td>
                    <span th:onclick="showInfoModal([[${test.status}]],[[${test.tokenId}]],[[${test.score}]])" >
                    <i class="fa fa-info-circle" style="font-size:24px;"></i>
                    </span>
                    </td>
			</tr>
            </table>
            </div>
        </div>
    </div>
    
    
<!-- Modal -->
<div class="modal fade" id="showInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Project Info - Candidate side login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     	<ul class="list-group">
<li class="list-group-item">For subjective questions give text box to submit the answer.</li>
<li class="list-group-item">For objective questions, there will be only one correct answer.</li>
<li class="list-group-item">The application should have the option for back, next on questions screen.</li>
<li class="list-group-item">The answer should have auto submit facility on choosing radio button, there should be a save button for subjective questions.</li>
<li class="list-group-item">On top of the test window show time left.</li>
<li class="list-group-item">User can exit test before time, on-time completion test should be auto-submitted.</li>
<li class="list-group-item">The system should show the score for objective question after completion.</li>
<li class="list-group-item">User can check their scores anytime with their login id.</li>
     	</ul>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="test_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="test_body">     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
function showInfoModal(status,testId,score){
	var text;
	if(status=='P'){
		//alert("Pending");
		text=`
		Test id is ${testId}
		Test is Pending
		Rules will be shown (i.e timing and test sections ans and other details)
		`;
		

	}
	else{
		//var score=3;
		text=`
			Test id is ${testId}

			Test is Given\n
			Score is 
			${score}
			`;
	}
	$('#test_body').text(text);
	$('#test_info').modal('toggle');
}
</script>
</body>

</html>